01 n8n_wrkflows/phase_2__Prompt.json
{
  "name": "Phase 2 | Prompt",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        920,
        420
      ],
      "id": "ed94d357-1f6a-48a3-9af8-fc630702b25b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        560
      ],
      "id": "e293f238-acaa-4c1e-a342-bbf24691f52b",
      "name": "Download from drive",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3260,
        540
      ],
      "id": "dd9300db-5d95-487b-b0a2-d570e2525d6b",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17-thinking",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3700,
        840
      ],
      "id": "0af6053f-7bf9-495d-95b6-c3d4238da5fb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UpLQ2CLSMB2oJQnX",
          "name": "Sri"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        5040,
        1060
      ],
      "id": "2b1161fe-7b57-4e52-b31d-abc77657a659",
      "name": "Merge1",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY",
          "mode": "list",
          "cachedResultName": "Internal | Ajio Buda 5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1955849859,
          "mode": "list",
          "cachedResultName": "FSN_Gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY/edit#gid=1955849859"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        420
      ],
      "id": "77784743-e12e-4097-ada7-f1f6899ae93a",
      "name": "Gets image from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dd3w6Uil0Iw63fMM",
          "name": "Google Sheets Sriwork"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY",
          "mode": "list",
          "cachedResultName": "Internal | Ajio Buda 5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1955849859,
          "mode": "list",
          "cachedResultName": "FSN_Gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY/edit#gid=1955849859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Gen-col": "={{ $json['Gen-col'][0] }}",
            "Prompt 1": "={{ $json.prompt[0] }}",
            "Prompt 2": "={{ $json.prompt[1] }}",
            "Prompt 3": "={{ $json.prompt[2] }}"
          },
          "matchingColumns": [
            "Gen-col"
          ],
          "schema": [
            {
              "id": "Gen-col",
              "displayName": "Gen-col",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt 1",
              "displayName": "Prompt 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt 2",
              "displayName": "Prompt 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt 3",
              "displayName": "Prompt 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5600,
        1060
      ],
      "id": "70644ce7-da20-46e9-a02f-cf2bc6ab902f",
      "name": "Adds Prompt to sheets",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dd3w6Uil0Iw63fMM",
          "name": "Google Sheets Sriwork"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2400,
        220
      ],
      "id": "30e57bc3-618f-4cd3-ba48-6294d72b988a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2000,
        400
      ],
      "id": "3bbb8692-c056-42ef-8568-3d5ef9b07fdb",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "row_number, Link, id,, Prompt 1,, Gen-col",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1320,
        420
      ],
      "id": "e51fdb4a-257b-47fc-baa5-14ecd44962b2",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1760,
        400
      ],
      "id": "db1c7cdf-e914-4b98-966a-66f9f3301355",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an editorial fashion photography prompt for this outfit:\n\n**Outfit:** \"{{ $json.output.Outfit }}\"\n\n**Footwear:** \"{{ $json.output.Selected_Footwear }}\"\n\n**Accessories:** \"{{ $json.output.Accessories }}\"\n\nPlease create a sophisticated 150-200 word editorial prompt following the Fashion Flux style guidelines.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Fashion Photography Prompter Instructions\n\n## Your Task\nAnalyze clothing in images and generate Flux prompts for lifestyle fashion photography.\n\n**CRITICAL RULE: Footwear must ALWAYS match the outfit style first, before considering theme.**\n\n## Step 1: Extract Clothing Details\n**FROM INPUT IMAGE, EXTRACT ONLY:**\n- Garment types and their details\n- Colors, patterns, textures\n- Specific features (neckline, sleeves, length, fit)\n- Accessories worn by the model\n\n**COMPLETELY IGNORE:**\n- Background, pose, model appearance, lighting, setting\n- Footwear (you will select appropriate footwear based on the outfit)\n\n## Step 2: Select Theme Based on Styling\nAnalyze the clothing style and select ONE theme. **Remember: The theme affects background/setting but NOT footwear choice - footwear must match the outfit.**\n\n### Theme Selection Guide\n\n**Sophisticated Escape**\n- Structured, tailored pieces\n- Clean lines, fitted silhouettes\n- Neutral/monochromatic colors\n- Polished, minimal styling\n\n**Summer Vacation**\n- Cropped/abbreviated pieces\n- Light, breezy combinations\n- Bright colors, casual proportions\n- Beach-ready styling\n\n**Outdoor Adventure**\n- Utility details, functional elements\n- Earth tones\n- Practical layering\n- Rugged styling\n\n**Resort Life**\n- Light washes, chambray\n- Tropical colors\n- Relaxed luxury feel\n- Vacation-specific pieces\n\n**Active Lifestyle**\n- Athletic wear elements\n- Performance fabrics\n- Sports-inspired styling\n\n**Vintage Vibes**\n- Retro styling cues\n- Classic cuts and colors\n- Nostalgic elements\n\n## Step 3: Generate Prompt\n\n**Order of operations:**\n1. Analyze the outfit to determine appropriate footwear (see Footwear Selection Rules)\n2. Select footwear that complements the outfit\n3. Construct the prompt with all elements\n\n### Prompt Structure\nWrite ONE flowing paragraph (150-200 words) containing:\n\n1. \"Full shot of [young early 20s woman/man] wearing\"\n2. [All extracted clothing details]\n3. \"with [accessories from input]\"\n4. \"and [outfit-appropriate footwear]\" ← **Selected based on outfit, NOT theme**\n5. [Dynamic action in environment]\n6. [Detailed background description]\n7. [Lighting description]\n8. \"candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n### Footwear Selection Rules\n**CRITICAL: Select footwear based on the OUTFIT FIRST, then adjust for theme if needed:**\n\n**Selection Hierarchy:**\n1. **First:** What does the outfit require? (dress = heels/sandals, athletic = sneakers)\n2. **Second:** What variations work with the theme? (beach dress = sandals over heels)\n3. **Never:** Force inappropriate footwear just to match theme\n\n**Why outfit-first footwear matters:**\n- Mismatched footwear destroys outfit credibility\n- Hiking boots with a sundress looks wrong regardless of \"outdoor\" theme\n- Heels with athletic wear is inappropriate even in \"sophisticated\" settings\n- The outfit dictates the footwear possibilities\n\n**Common Footwear Mistakes to AVOID:**\n- Hiking boots with dresses/skirts\n- Athletic shoes with formal wear\n- Heavy boots with summer dresses\n- Formal heels with athletic wear\n- Winter boots with summer outfits\n\n**Dress-based selections:**\n- **Midi/Maxi dresses:** Heeled sandals, wedges, ankle boots, or ballet flats\n- **Mini dresses:** Heels, ankle boots, sneakers (for casual styles), sandals\n- **Formal dresses:** Heels, strappy sandals, elegant flats\n- **Casual sundresses:** Sandals, espadrilles, white sneakers\n\n**Top & Bottom combinations:**\n- **Formal/Tailored pieces:** Dress shoes, heels, loafers, oxford shoes\n- **Jeans + dressy top:** Loafers, ankle boots, heeled sandals, ballet flats  \n- **Jeans + casual top:** Sneakers, casual boots, sandals\n- **Shorts:** Sandals, sneakers, espadrilles (never heavy boots)\n- **Athletic wear:** Sports shoes, athletic sneakers only\n\n**Special considerations:**\n- **Skirts:** Match formality - heels for formal, flats/sneakers for casual\n- **Vintage/Retro outfits:** Period-appropriate footwear\n- **All-white outfits:** White or nude footwear preferred\n\n**Quick Reference - If outfit includes:**\n- Dress → Heels, sandals, or flats (based on dress style)\n- Jeans → Sneakers, boots, or loafers (based on top)\n- Shorts → Sandals, sneakers, or espadrilles\n- Athletic wear → Athletic shoes only\n- Formal pieces → Dress shoes or heels only\n\n**Footwear Color Guidelines:**\n- Nude/tan shoes = universally flattering\n- Match shoe color to outfit's dominant neutral\n- White shoes for casual/summer outfits\n- Black shoes for formal/evening wear\n- Metallic shoes for special occasions\n\n**Seasonal Considerations:**\n- Summer outfits = open-toe shoes, sandals, light colors\n- No heavy boots with summer clothing\n- No sandals with winter clothing\n- Match footwear weight to outfit seasonality\n\n### Composition Requirements\n- **Subject Position:** Off-center (rule of thirds)\n- **Action:** Natural interaction with environment (walking, leaning, sitting)\n- **Background:** Detailed, empty of people, theme-appropriate\n- **Style:** Documentary, candid, unposed\n- **Footwear:** MUST complement the outfit style (see Footwear Selection Rules)\n\n### Theme-Specific Elements\n**Note: Footwear must match the outfit style FIRST, then consider theme suggestions below**\n\n**NEVER force inappropriate footwear to match a theme. Examples:**\n- Don't put hiking boots with a dress just because it's \"Outdoor Adventure\"\n- Don't use athletic shoes with formal wear even for \"Active Lifestyle\"\n- Don't force heels with casual shorts even for \"Sophisticated Escape\"\n\n**The theme influences WHERE the photo is taken, NOT what shoes are worn.**\n\n**Summer Vacation**\n- Backgrounds: Beach, pool, yacht deck, beach house\n- Actions: Beach walking, poolside lounging\n- Footwear suggestions: Sandals, barefoot, flip-flops (if outfit appropriate)\n- Lighting: Golden hour, bright sunlight\n\n**Sophisticated Escape**\n- Backgrounds: Villa gardens, marble stairs, infinity pools\n- Actions: Garden strolling, stair descending\n- Footwear suggestions: Heels, ballet flats, loafers (match outfit formality)\n- Lighting: Soft natural light, architectural shadows\n\n**Outdoor Adventure**\n- Backgrounds: Mountains, fields, desert roads\n- Actions: Trail walking, rock climbing\n- Footwear suggestions: Hiking boots, trail shoes (if outfit is casual/rugged)\n- Lighting: Natural daylight, dramatic skies\n\n**Resort Life**\n- Backgrounds: Resort terraces, tropical settings\n- Actions: Resort exploring, relaxed activities\n- Footwear suggestions: Resort sandals, espadrilles (match vacation outfit)\n- Lighting: Vacation ambiance\n\n**Active Lifestyle**\n- Backgrounds: Golf courses, tennis courts\n- Actions: Sports movements, equipment interaction\n- Footwear suggestions: Athletic shoes, sports sneakers (for athletic outfits)\n- Lighting: Outdoor sports lighting\n\n**Vintage Vibes**\n- Backgrounds: Classic cars, vintage bikes\n- Actions: Vehicle interaction, nostalgic poses\n- Footwear suggestions: Period-appropriate shoes matching outfit era\n- Lighting: Film aesthetics\n\n## Example Analysis Process\n\n**Example 1:**\n**Input:** White shirt + blue jeans + gold jewelry\n**Analysis:** \n- Outfit style: Polished casual (tucked shirt + jeans = smart casual)\n- Footwear selection: Ballet flats or loafers (matches smart casual outfit)\n- Theme: Sophisticated Escape (polished styling + minimal accessories)\n\n**Output:** \"Full shot of confident young early 20s woman wearing crisp white cotton button-up shirt tucked into high-waisted medium wash blue denim jeans with delicate gold chain necklace and small gold hoop earrings and nude leather ballet flats, gracefully descending curved marble staircase while holding onto ornate iron railing, positioned right side of frame, luxurious Mediterranean villa courtyard with potted olive trees, stone fountain, and climbing jasmine vines on whitewashed walls, soft morning light filtering through pergola overhead creating gentle shadows, candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n**Example 2:**\n**Input:** Floral midi dress + straw hat\n**Analysis:**\n- Outfit style: Feminine dress requiring elegant footwear\n- Footwear selection: Heeled sandals or wedges (complements midi dress)\n- Theme: Summer Vacation (floral pattern + straw hat = beach ready)\n\n**Output:** \"Full shot of radiant young early 20s woman wearing flowing floral print midi dress with sweetheart neckline and short puffed sleeves in coral and white pattern with wide-brimmed straw hat and tan leather heeled sandals, walking along wooden boardwalk while dress catches ocean breeze, positioned left side of frame, pristine beach with turquoise waves and white sand dunes dotted with sea grass in background, golden hour sunlight creating warm glow and long shadows, candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n## Important Notes\n- Always write as one flowing paragraph\n- Never use bullet points in the output\n- Always include all extracted clothing details\n- Never mention the theme name in the output\n- Focus on environmental storytelling\n- Maintain documentary photography style\n- **CRITICAL: Always select footwear that complements the outfit style first, regardless of theme**\n- **REMEMBER: Bad footwear choice ruins the entire image - when in doubt, choose classic options that match the outfit formality**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3800,
        -200
      ],
      "id": "eb25e61c-6960-4421-8d59-71eb558006de",
      "name": "Prompt Generator",
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5840,
        1060
      ],
      "id": "e45705cf-c942-4d66-91f0-827cad60134f",
      "name": "Wait",
      "webhookId": "e6f1ce27-f4d2-4823-89e4-b36c36fa8f70"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9957d62a-807c-4356-ab16-5dea547ffb47",
              "leftValue": "={{ $json['Prompt 1'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        420
      ],
      "id": "abb0831c-c15a-45bf-8185-e4883adf29e3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        580
      ],
      "id": "4742fecf-2aec-4408-b3a4-61c97d4f99f8",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# n8n Workflow: AI-Powered Fashion Prompt Generator\n\n## Overview\n\nThis n8n workflow automates the process of generating AI prompts for fashion/clothing images stored in Google Drive. The workflow reads product data from Google Sheets, downloads associated images, and uses Google's Gemini AI model to create descriptive prompts that can be used for various fashion-related applications.\n\n## Workflow Purpose\n\nThe primary goal is to automatically generate multiple creative prompts for fashion items based on their images. This is particularly useful for:\n- E-commerce product descriptions\n- AI image generation training data\n- Fashion catalog automation\n- Content creation for fashion brands\n\n## Key Components\n\n### Data Sources\n- **Google Sheets**: Contains product information including:\n  - Product details (Brand, Gender, Brick category)\n  - Google Drive image links\n  - Generated prompts storage\n- **Google Drive**: Stores the actual product images\n\n### AI Processing\n- **Google Gemini 2.5 Flash**: AI model for prompt generation\n- **Structured Output Parser**: Ensures consistent prompt formatting\n- **Temperature Setting**: 0.7 for balanced creativity and consistency\n\n## Workflow Steps\n\n### 1. Data Retrieval\n- **Trigger**: Manual workflow start\n- **Sheet Reading**: Fetches product data from \"FSN\" sheet\n- **Field Extraction**: Extracts `row_number`, `Link`, `id`, and existing `Prompt 1`\n\n### 2. Conditional Processing\n- **Empty Check**: Only processes items where `Prompt 1` is empty\n- **Skip Logic**: Avoids re-processing items that already have prompts\n\n### 3. Batch Processing\n- **Loop Structure**: Processes items in batches to manage API limits\n- **Image Download**: Downloads images from Google Drive using extracted IDs\n- **System Instructions**: Retrieves AI prompting guidelines from dedicated sheet\n\n### 4. AI Prompt Generation\n- **Data Preparation**: Merges image data with system instructions\n- **Duplication**: Creates 3 copies of each item for prompt variation\n- **AI Processing**: Uses Gemini model to generate creative prompts\n- **Aggregation**: Collects all generated prompts for each item\n\n### 5. Data Storage\n- **Sheet Update**: Writes generated prompts back to Google Sheets\n- **Column Mapping**: Updates `Prompt 1`, `Prompt 2`, and `Prompt 3` columns\n- **Rate Limiting**: 30-second wait between batches to respect API limits\n\n## Technical Features\n\n### Error Handling\n- Conditional logic prevents processing items that already have prompts\n- Batch processing prevents overwhelming API endpoints\n\n### Scalability\n- Loop structure allows processing large datasets\n- Configurable batch sizes and delays\n- Disabled limit node can be enabled for testing\n\n### Data Integrity\n- Row number matching ensures accurate updates\n- Multiple prompt generation provides variety\n- Structured output ensures consistent formatting\n\n\n\n\n",
        "height": 1860,
        "width": 2460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        -200
      ],
      "id": "8c87dcc0-b976-48ca-ad5c-cda1680b767e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY",
          "mode": "list",
          "cachedResultName": "Internal | Ajio Buda 5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "FSN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MGbnhByVIjFDIucBTo-87OPtAjpPHC6SHqkNwy9kXDY/edit#gid=0"
        },
        "options": {
          "columnsToWatch": [
            "Link"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        920,
        620
      ],
      "id": "877e3589-6570-4e95-9eb1-8b3706d62fe1",
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3320,
        820
      ],
      "id": "442e0e09-4faa-43a9-8dc6-25f76909effc",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "options": {
          "prompt": "=Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        4120,
        240
      ],
      "id": "22c9204e-7d1c-41a9-b95b-5eb30cc787f3",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a4f7c5e-fd73-4d86-8ff9-0269fbc8a4b5",
              "name": "output.Outfit",
              "value": "={{ $json.output.Outfit }}",
              "type": "string"
            },
            {
              "id": "7b7c7885-08a1-4d27-9bb2-715cdd4d923f",
              "name": "output.Accessories",
              "value": "={{ $json.output.Accessories }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        740
      ],
      "id": "56434385-1c2c-4dd2-8295-251b8b214bd1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c8f66b-d090-42b7-ab02-508587d48f24",
              "name": "output.Selected_Footwear",
              "value": "={{ $json.output.Selected_Footwear }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3140,
        720
      ],
      "id": "9477ed4a-1af6-468a-89d4-133cfd8a1e27",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17-thinking",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2280,
        940
      ],
      "id": "9a7b835b-dce4-46ff-8b41-c9a3cc742e9a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "UpLQ2CLSMB2oJQnX",
          "name": "Sri"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Outfit\": \"\",\n\t\"Accessories\": \"\"\n}\n\n\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2460,
        1080
      ],
      "id": "1e5d8732-d1e6-4714-927f-f8a7f7f6be64",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        2400,
        940
      ],
      "id": "ce0b3baf-b72c-44b9-9db2-65a22fc6ebc1",
      "name": "Auto-fixing Output Parser1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2680,
        1040
      ],
      "id": "42163538-7ed2-4658-b6a1-92dd04e862f4",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "UpLQ2CLSMB2oJQnX",
          "name": "Sri"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze this image and extract only the clothing and accessory details according to the instructions provided. Focus on describing the garments' style, colors, patterns, textures, fit, and any distinctive features. Also include all accessories worn by the model. Remember to ignore the background, pose, lighting, and footwear.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Step 1: Clothing Extraction Instructions\n\n## Your Task\nAnalyze clothing in images and extract only the essential garment details needed for fashion photography prompts.\n\n## What to Extract FROM INPUT IMAGE\n\n### Garment Types and Details\n- Identify each piece of clothing (shirt, dress, pants, jacket, etc.)\n- Note specific garment style (button-up, polo, midi dress, skinny jeans, blazer, etc.)\n- Record garment construction details (pleated, fitted, oversized, cropped, etc.)\n\n### Colors, Patterns, and Textures\n- **Colors:** Primary and accent colors, color combinations\n- **Patterns:** Floral, striped, plaid, geometric, solid, etc.\n- **Textures:** Cotton, denim, silk, knit, leather, lace, etc.\n- **Finishes:** Matte, glossy, distressed, washed, etc.\n\n### Specific Garment Features\n- **Necklines:** V-neck, crew neck, scoop neck, off-shoulder, etc.\n- **Sleeves:** Long, short, sleeveless, puffed, bell, rolled, etc.\n- **Length:** Cropped, regular, long, midi, maxi, mini, etc.\n- **Fit:** Fitted, loose, oversized, tailored, relaxed, etc.\n- **Details:** Buttons, zippers, pockets, belts, tucks, etc.\n\n### Accessories Worn by Model\n- Jewelry (necklaces, earrings, bracelets, rings)\n- Bags or purses\n- Belts\n- Hats or headwear\n- Scarves\n- Sunglasses\n- Watches\n\n## What to COMPLETELY IGNORE\n\n### Visual Elements to Skip\n- Background settings or environments\n- Model's pose or body position\n- Model's facial expression or appearance\n- Lighting conditions or mood\n- Camera angles or composition\n- Any people in the background\n\n### Footwear Exception\n- **DO NOT extract footwear from the input image**\n- Footwear will be selected separately based on outfit compatibility\n- Ignore any shoes, boots, sandals, or barefoot styling in the source image\n\n## Output Format\n\nProvide your analysis in the following structured format:\n\n**Outfit:** \"[Complete detailed description of all clothing items with materials, colors, patterns, fit, and styling details]\"\n\n**Accessories:** \"[Complete detailed description of all accessories including jewelry, bags, hats, belts, etc.]\"\n\n## Example Outputs\n\n**Example 1:**\n**Outfit:** \"Crisp white cotton button-up shirt with classic collar and rolled sleeves tucked into high-waisted medium wash blue denim jeans with straight leg fit\"\n**Accessories:** \"Delicate gold chain necklace and small gold hoop earrings\"\n\n**Example 2:**\n**Outfit:** \"Flowing floral print midi dress in coral and white pattern featuring sweetheart neckline and short puffed sleeves with A-line silhouette in lightweight fabric\"\n**Accessories:** \"Wide-brimmed natural straw hat\"\n\n**Example 3:**\n**Outfit:** \"Oversized cream cable-knit sweater with dropped shoulders and ribbed cuffs worn over black high-waisted leather mini skirt\"\n**Accessories:** \"Layered silver chain necklaces, chunky silver rings, and black leather crossbody bag with gold hardware\"\n\n## Quality Check\nBefore finalizing your extraction, ensure you have:\n- ✓ Described every visible garment in detail\n- ✓ Captured all colors and patterns accurately  \n- ✓ Noted fabric textures and finishes\n- ✓ Listed all distinctive features\n- ✓ Included every accessory worn by the model\n- ✓ Ignored background, lighting, pose, and footwear\n- ✓ Used specific, descriptive language rather than generic terms"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2280,
        740
      ],
      "id": "68f7c799-cc01-4dbc-9886-0c9e2a8c79a3",
      "name": "Outfit extraction"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Select footwear for:\n\n**Outfit:** \"{{ $json.output.Outfit }}\"\n**Accessories:** \"{{ $json.output.Accessories }}\"\n\nChoose the best footwear option that complements this outfit style.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Your Task\nSelect footwear that complements and enhances the outfit style, regardless of the photography theme.\n\n**CRITICAL RULE: Footwear must ALWAYS match the outfit style first, before considering theme.**\n\n## Selection Hierarchy\n\n1. **First Priority:** What does the outfit require? (dress = heels/sandals, athletic = sneakers)\n2. **Second Priority:** What variations work with the theme? (beach dress = sandals over heels)\n3. **Never:** Force inappropriate footwear just to match theme\n\n## Why Outfit-First Footwear Matters\n\n- Mismatched footwear destroys outfit credibility\n- Hiking boots with a sundress looks wrong regardless of \"outdoor\" theme\n- Heels with athletic wear is inappropriate even in \"sophisticated\" settings\n- The outfit dictates the footwear possibilities\n- Good footwear choice completes the look; bad choice ruins the entire image\n\n## Footwear Selection by Garment Type\n\n### Dress-Based Selections\n\n**Midi/Maxi Dresses:**\n- Heeled sandals (strappy, block heel, wedge)\n- Wedges (espadrille, cork, platform)\n- Ankle boots (heeled, flat, Western style)\n- Ballet flats (classic, pointed toe, metallic)\n\n**Mini Dresses:**\n- Heels (stiletto, block heel, platform)\n- Ankle boots (combat, Chelsea, heeled)\n- Sneakers (for casual styles only - white leather, canvas)\n- Sandals (heeled, gladiator, strappy)\n\n**Formal Dresses:**\n- Heels (pumps, stilettos, block heel)\n- Strappy sandals (metallic, satin, leather)\n- Elegant flats (pointed toe, embellished)\n\n**Casual Sundresses:**\n- Sandals (flat, low wedge, slides)\n- Espadrilles (rope sole, canvas)\n- White sneakers (leather, canvas, minimal)\n\n### Top & Bottom Combinations\n\n**Formal/Tailored Pieces:**\n- Dress shoes (oxfords, brogues, loafers)\n- Heels (pumps, block heel, pointed toe)\n- Loafers (leather, suede, chain detail)\n- Oxford shoes (classic, platform, patent)\n\n**Jeans + Dressy Top:**\n- Loafers (penny, tassel, horse bit)\n- Ankle boots (heeled, flat, pointed)\n- Heeled sandals (block heel, wedge)\n- Ballet flats (leather, patent, metallic)\n\n**Jeans + Casual Top:**\n- Sneakers (white, canvas, retro)\n- Casual boots (combat, Western, work)\n- Sandals (flat, sporty, slides)\n\n**Shorts:**\n- Sandals (flat, wedge, gladiator)\n- Sneakers (canvas, leather, colorful)\n- Espadrilles (flat, wedge, tie-up)\n- **Never:** Heavy boots with shorts\n\n**Athletic Wear:**\n- Sports shoes (running, training, tennis)\n- Athletic sneakers (performance, lifestyle)\n- **Only athletic footwear with athletic clothing**\n\n### Special Considerations\n\n**Skirts:**\n- Match formality level\n- Formal skirts = heels, dress flats\n- Casual skirts = sneakers, sandals, boots\n\n**Vintage/Retro Outfits:**\n- Period-appropriate footwear\n- 1950s = kitten heels, saddle shoes\n- 1970s = platform sandals, boots\n- 1990s = chunky sneakers, combat boots\n\n**All-White Outfits:**\n- White footwear preferred\n- Nude/tan as secondary choice\n- Avoid dark colors that break the monochrome\n\n## Common Footwear Mistakes to AVOID\n\n❌ **Never Do These:**\n- Hiking boots with dresses/skirts\n- Athletic shoes with formal wear\n- Heavy boots with summer dresses\n- Formal heels with athletic wear\n- Winter boots with summer outfits\n- Flip-flops with formal clothing\n- Stilettos with casual shorts\n\n## Quick Reference Guide\n\n**If Outfit Includes:**\n- **Dress** → Heels, sandals, or flats (based on dress style)\n- **Jeans** → Sneakers, boots, or loafers (based on top formality)\n- **Shorts** → Sandals, sneakers, or espadrilles\n- **Athletic wear** → Athletic shoes only\n- **Formal pieces** → Dress shoes or heels only\n- **Skirts** → Match skirt's formality level\n\n## Footwear Color Guidelines\n\n**Universal Colors:**\n- **Nude/Tan:** Universally flattering, elongates legs\n- **Black:** Classic, works with most colors\n- **White:** Fresh, perfect for casual/summer looks\n- **Metallic:** Special occasions, adds glamour\n\n**Color Matching Rules:**\n- Match shoe color to outfit's dominant neutral\n- Pick up accent colors from the outfit\n- Monochrome outfits = match or contrast thoughtfully\n- Bright outfits = neutral shoes to balance\n\n## Seasonal Considerations\n\n**Summer Outfits:**\n- Open-toe shoes preferred\n- Sandals, espadrilles, canvas sneakers\n- Light colors and breathable materials\n- **No heavy boots with summer clothing**\n\n**Winter Outfits:**\n- Closed-toe shoes required\n- Boots, pumps, loafers\n- Darker colors and substantial materials\n- **No sandals with winter clothing**\n\n**Transitional Weather:**\n- Ankle boots, loafers, low boots\n- Medium weight materials\n- Versatile colors (tan, brown, navy)\n\n## Selection Process\n\n### Step 1: Analyze the Outfit\n- What's the formality level?\n- What's the dominant garment (dress, pants, skirt)?\n- What's the overall style aesthetic?\n- What season/weather does it suggest?\n\n### Step 2: Determine Appropriate Categories\n- List 3-4 footwear types that work with this outfit\n- Consider the outfit's color palette\n- Think about proportions and styling\n\n### Step 3: Make Final Selection\n- Choose the option that best completes the look\n- Consider comfort and practicality for the setting\n- Ensure the choice enhances rather than competes\n\n## Output Format\n\nonly return with one best option!\n\n**Selected Footwear:** \"[Specific shoe description with color, style, and material details]\"\n\n## Example Selections\n\n**Example 1:**\n*Outfit: Crisp white button-up + high-waisted jeans*\n**Selected Footwear:** \"Nude leather ballet flats with pointed toe\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2780,
        740
      ],
      "id": "d04b8a11-04db-4c65-819f-b200b57703ac",
      "name": "Footwear"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2800,
        920
      ],
      "id": "1ec70946-59cb-4f36-91f2-e7b35db40267",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "9yxCHdoHv3CEy9Ue",
          "name": "BR"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Selected_Footwear\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2980,
        1060
      ],
      "id": "19b3de28-41b6-4fe2-af08-37b2c5664cb0",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        2920,
        920
      ],
      "id": "58953a4f-184c-4634-ba2e-260e12b03dd5",
      "name": "Auto-fixing Output Parser2"
    },
    {
      "parameters": {
        "jsCode": "  function duplicateItems(items, times = 3) {\n    const duplicated = [];\n    items.forEach(item => {\n      for (let i = 0; i < times; i++) {\n        duplicated.push({\n          json: { ...item.json},\n          // binary: item.binary\n        });\n      }\n    });\n    return duplicated;\n  }\n\n  // For n8n Code node:\n  return duplicateItems(items, 3);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3480,
        540
      ],
      "id": "3c9534e1-015f-45ad-a9cf-07c6caae98a5",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an editorial fashion photography prompt for this outfit:\n\n**Outfit:** \"{{ $json.output.Outfit }}\"\n\n**Footwear:** \"{{ $json.output.Selected_Footwear }}\"\n\n**Accessories:** \"{{ $json.output.Accessories }}\"\n\nPlease create a sophisticated 150-200 word editorial prompt following the Fashion Flux style guidelines.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Fashion Photography Prompter Instructions\n\n## Your Task\nAnalyze clothing in images and generate Flux prompts for lifestyle fashion photography.\n\n**CRITICAL RULE: Footwear must ALWAYS match the outfit style first, before considering theme.**\n\n## Step 1: Extract Clothing Details\n**FROM INPUT IMAGE, EXTRACT ONLY:**\n- Garment types and their details\n- Colors, patterns, textures\n- Specific features (neckline, sleeves, length, fit)\n- Accessories worn by the model\n\n**COMPLETELY IGNORE:**\n- Background, pose, model appearance, lighting, setting\n- Footwear (you will select appropriate footwear based on the outfit)\n\n## Step 2: Select Theme Based on Styling\nAnalyze the clothing style and select ONE theme. **Remember: The theme affects background/setting but NOT footwear choice - footwear must match the outfit.**\n\n### Theme Selection Guide\n\n**Sophisticated Escape**\n- Structured, tailored pieces\n- Clean lines, fitted silhouettes\n- Neutral/monochromatic colors\n- Polished, minimal styling\n\n**Summer Vacation**\n- Cropped/abbreviated pieces\n- Light, breezy combinations\n- Bright colors, casual proportions\n- Beach-ready styling\n\n**Outdoor Adventure**\n- Utility details, functional elements\n- Earth tones\n- Practical layering\n- Rugged styling\n\n**Resort Life**\n- Light washes, chambray\n- Tropical colors\n- Relaxed luxury feel\n- Vacation-specific pieces\n\n**Active Lifestyle**\n- Athletic wear elements\n- Performance fabrics\n- Sports-inspired styling\n\n**Vintage Vibes**\n- Retro styling cues\n- Classic cuts and colors\n- Nostalgic elements\n\n## Step 3: Generate Prompt\n\n**Order of operations:**\n1. Analyze the outfit to determine appropriate footwear (see Footwear Selection Rules)\n2. Select footwear that complements the outfit\n3. Construct the prompt with all elements\n\n### Prompt Structure\nWrite ONE flowing paragraph (150-200 words) containing:\n\n1. \"Full shot of [young early 20s woman/man] wearing\"\n2. [All extracted clothing details]\n3. \"with [accessories from input]\"\n4. \"and [outfit-appropriate footwear]\" ← **Selected based on outfit, NOT theme**\n5. [Dynamic action in environment]\n6. [Detailed background description]\n7. [Lighting description]\n8. \"candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n### Footwear Selection Rules\n**CRITICAL: Select footwear based on the OUTFIT FIRST, then adjust for theme if needed:**\n\n**Selection Hierarchy:**\n1. **First:** What does the outfit require? (dress = heels/sandals, athletic = sneakers)\n2. **Second:** What variations work with the theme? (beach dress = sandals over heels)\n3. **Never:** Force inappropriate footwear just to match theme\n\n**Why outfit-first footwear matters:**\n- Mismatched footwear destroys outfit credibility\n- Hiking boots with a sundress looks wrong regardless of \"outdoor\" theme\n- Heels with athletic wear is inappropriate even in \"sophisticated\" settings\n- The outfit dictates the footwear possibilities\n\n**Common Footwear Mistakes to AVOID:**\n- Hiking boots with dresses/skirts\n- Athletic shoes with formal wear\n- Heavy boots with summer dresses\n- Formal heels with athletic wear\n- Winter boots with summer outfits\n\n**Dress-based selections:**\n- **Midi/Maxi dresses:** Heeled sandals, wedges, ankle boots, or ballet flats\n- **Mini dresses:** Heels, ankle boots, sneakers (for casual styles), sandals\n- **Formal dresses:** Heels, strappy sandals, elegant flats\n- **Casual sundresses:** Sandals, espadrilles, white sneakers\n\n**Top & Bottom combinations:**\n- **Formal/Tailored pieces:** Dress shoes, heels, loafers, oxford shoes\n- **Jeans + dressy top:** Loafers, ankle boots, heeled sandals, ballet flats  \n- **Jeans + casual top:** Sneakers, casual boots, sandals\n- **Shorts:** Sandals, sneakers, espadrilles (never heavy boots)\n- **Athletic wear:** Sports shoes, athletic sneakers only\n\n**Special considerations:**\n- **Skirts:** Match formality - heels for formal, flats/sneakers for casual\n- **Vintage/Retro outfits:** Period-appropriate footwear\n- **All-white outfits:** White or nude footwear preferred\n\n**Quick Reference - If outfit includes:**\n- Dress → Heels, sandals, or flats (based on dress style)\n- Jeans → Sneakers, boots, or loafers (based on top)\n- Shorts → Sandals, sneakers, or espadrilles\n- Athletic wear → Athletic shoes only\n- Formal pieces → Dress shoes or heels only\n\n**Footwear Color Guidelines:**\n- Nude/tan shoes = universally flattering\n- Match shoe color to outfit's dominant neutral\n- White shoes for casual/summer outfits\n- Black shoes for formal/evening wear\n- Metallic shoes for special occasions\n\n**Seasonal Considerations:**\n- Summer outfits = open-toe shoes, sandals, light colors\n- No heavy boots with summer clothing\n- No sandals with winter clothing\n- Match footwear weight to outfit seasonality\n\n### Composition Requirements\n- **Subject Position:** Off-center (rule of thirds)\n- **Action:** Natural interaction with environment (walking, leaning, sitting)\n- **Background:** Detailed, empty of people, theme-appropriate\n- **Style:** Documentary, candid, unposed\n- **Footwear:** MUST complement the outfit style (see Footwear Selection Rules)\n\n### Theme-Specific Elements\n**Note: Footwear must match the outfit style FIRST, then consider theme suggestions below**\n\n**NEVER force inappropriate footwear to match a theme. Examples:**\n- Don't put hiking boots with a dress just because it's \"Outdoor Adventure\"\n- Don't use athletic shoes with formal wear even for \"Active Lifestyle\"\n- Don't force heels with casual shorts even for \"Sophisticated Escape\"\n\n**The theme influences WHERE the photo is taken, NOT what shoes are worn.**\n\n**Summer Vacation**\n- Backgrounds: Beach, pool, yacht deck, beach house\n- Actions: Beach walking, poolside lounging\n- Footwear suggestions: Sandals, barefoot, flip-flops (if outfit appropriate)\n- Lighting: Golden hour, bright sunlight\n\n**Sophisticated Escape**\n- Backgrounds: Villa gardens, marble stairs, infinity pools\n- Actions: Garden strolling, stair descending\n- Footwear suggestions: Heels, ballet flats, loafers (match outfit formality)\n- Lighting: Soft natural light, architectural shadows\n\n**Outdoor Adventure**\n- Backgrounds: Mountains, fields, desert roads\n- Actions: Trail walking, rock climbing\n- Footwear suggestions: Hiking boots, trail shoes (if outfit is casual/rugged)\n- Lighting: Natural daylight, dramatic skies\n\n**Resort Life**\n- Backgrounds: Resort terraces, tropical settings\n- Actions: Resort exploring, relaxed activities\n- Footwear suggestions: Resort sandals, espadrilles (match vacation outfit)\n- Lighting: Vacation ambiance\n\n**Active Lifestyle**\n- Backgrounds: Golf courses, tennis courts\n- Actions: Sports movements, equipment interaction\n- Footwear suggestions: Athletic shoes, sports sneakers (for athletic outfits)\n- Lighting: Outdoor sports lighting\n\n**Vintage Vibes**\n- Backgrounds: Classic cars, vintage bikes\n- Actions: Vehicle interaction, nostalgic poses\n- Footwear suggestions: Period-appropriate shoes matching outfit era\n- Lighting: Film aesthetics\n\n## Example Analysis Process\n\n**Example 1:**\n**Input:** White shirt + blue jeans + gold jewelry\n**Analysis:** \n- Outfit style: Polished casual (tucked shirt + jeans = smart casual)\n- Footwear selection: Ballet flats or loafers (matches smart casual outfit)\n- Theme: Sophisticated Escape (polished styling + minimal accessories)\n\n**Output:** \"Full shot of confident young early 20s woman wearing crisp white cotton button-up shirt tucked into high-waisted medium wash blue denim jeans with delicate gold chain necklace and small gold hoop earrings and nude leather ballet flats, gracefully descending curved marble staircase while holding onto ornate iron railing, positioned right side of frame, luxurious Mediterranean villa courtyard with potted olive trees, stone fountain, and climbing jasmine vines on whitewashed walls, soft morning light filtering through pergola overhead creating gentle shadows, candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n**Example 2:**\n**Input:** Floral midi dress + straw hat\n**Analysis:**\n- Outfit style: Feminine dress requiring elegant footwear\n- Footwear selection: Heeled sandals or wedges (complements midi dress)\n- Theme: Summer Vacation (floral pattern + straw hat = beach ready)\n\n**Output:** \"Full shot of radiant young early 20s woman wearing flowing floral print midi dress with sweetheart neckline and short puffed sleeves in coral and white pattern with wide-brimmed straw hat and tan leather heeled sandals, walking along wooden boardwalk while dress catches ocean breeze, positioned left side of frame, pristine beach with turquoise waves and white sand dunes dotted with sea grass in background, golden hour sunlight creating warm glow and long shadows, candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n## Important Notes\n- Always write as one flowing paragraph\n- Never use bullet points in the output\n- Always include all extracted clothing details\n- Never mention the theme name in the output\n- Focus on environmental storytelling\n- Maintain documentary photography style\n- **CRITICAL: Always select footwear that complements the outfit style first, regardless of theme**\n- **REMEMBER: Bad footwear choice ruins the entire image - when in doubt, choose classic options that match the outfit formality**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3800,
        220
      ],
      "id": "a43a3f93-6cab-4fcb-a039-eb75e6b6497d",
      "name": "Prompt Generator1",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an editorial fashion photography prompt for this outfit:\n\n**Outfit:** \"{{ $json.output.Outfit }}\"\n\n**Footwear:** \"{{ $json.output.Selected_Footwear }}\"\n\n**Accessories:** \"{{ $json.output.Accessories }}\"\n\nPlease create a sophisticated 150-200 word editorial prompt following the Fashion Flux style guidelines.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Fashion Photography Prompter Instructions\n\n## Your Task\nAnalyze clothing in images and generate Flux prompts for lifestyle fashion photography.\n\n**CRITICAL RULE: Footwear must ALWAYS match the outfit style first, before considering theme.**\n\n## Step 1: Extract Clothing Details\n**FROM INPUT IMAGE, EXTRACT ONLY:**\n- Garment types and their details\n- Colors, patterns, textures\n- Specific features (neckline, sleeves, length, fit)\n- Accessories worn by the model\n\n**COMPLETELY IGNORE:**\n- Background, pose, model appearance, lighting, setting\n- Footwear (you will select appropriate footwear based on the outfit)\n\n## Step 2: Select Theme Based on Styling\nAnalyze the clothing style and select ONE theme. **Remember: The theme affects background/setting but NOT footwear choice - footwear must match the outfit.**\n\n### Theme Selection Guide\n\n**Sophisticated Escape**\n- Structured, tailored pieces\n- Clean lines, fitted silhouettes\n- Neutral/monochromatic colors\n- Polished, minimal styling\n\n**Summer Vacation**\n- Cropped/abbreviated pieces\n- Light, breezy combinations\n- Bright colors, casual proportions\n- Beach-ready styling\n\n**Outdoor Adventure**\n- Utility details, functional elements\n- Earth tones\n- Practical layering\n- Rugged styling\n\n**Resort Life**\n- Light washes, chambray\n- Tropical colors\n- Relaxed luxury feel\n- Vacation-specific pieces\n\n**Active Lifestyle**\n- Athletic wear elements\n- Performance fabrics\n- Sports-inspired styling\n\n**Vintage Vibes**\n- Retro styling cues\n- Classic cuts and colors\n- Nostalgic elements\n\n## Step 3: Generate Prompt\n\n**Order of operations:**\n1. Analyze the outfit to determine appropriate footwear (see Footwear Selection Rules)\n2. Select footwear that complements the outfit\n3. Construct the prompt with all elements\n\n### Prompt Structure\nWrite ONE flowing paragraph (150-200 words) containing:\n\n1. \"Full shot of [young early 20s woman/man] wearing\"\n2. [All extracted clothing details]\n3. \"with [accessories from input]\"\n4. \"and [outfit-appropriate footwear]\" ← **Selected based on outfit, NOT theme**\n5. [Dynamic action in environment]\n6. [Detailed background description]\n7. [Lighting description]\n8. \"candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n### Footwear Selection Rules\n**CRITICAL: Select footwear based on the OUTFIT FIRST, then adjust for theme if needed:**\n\n**Selection Hierarchy:**\n1. **First:** What does the outfit require? (dress = heels/sandals, athletic = sneakers)\n2. **Second:** What variations work with the theme? (beach dress = sandals over heels)\n3. **Never:** Force inappropriate footwear just to match theme\n\n**Why outfit-first footwear matters:**\n- Mismatched footwear destroys outfit credibility\n- Hiking boots with a sundress looks wrong regardless of \"outdoor\" theme\n- Heels with athletic wear is inappropriate even in \"sophisticated\" settings\n- The outfit dictates the footwear possibilities\n\n**Common Footwear Mistakes to AVOID:**\n- Hiking boots with dresses/skirts\n- Athletic shoes with formal wear\n- Heavy boots with summer dresses\n- Formal heels with athletic wear\n- Winter boots with summer outfits\n\n**Dress-based selections:**\n- **Midi/Maxi dresses:** Heeled sandals, wedges, ankle boots, or ballet flats\n- **Mini dresses:** Heels, ankle boots, sneakers (for casual styles), sandals\n- **Formal dresses:** Heels, strappy sandals, elegant flats\n- **Casual sundresses:** Sandals, espadrilles, white sneakers\n\n**Top & Bottom combinations:**\n- **Formal/Tailored pieces:** Dress shoes, heels, loafers, oxford shoes\n- **Jeans + dressy top:** Loafers, ankle boots, heeled sandals, ballet flats  \n- **Jeans + casual top:** Sneakers, casual boots, sandals\n- **Shorts:** Sandals, sneakers, espadrilles (never heavy boots)\n- **Athletic wear:** Sports shoes, athletic sneakers only\n\n**Special considerations:**\n- **Skirts:** Match formality - heels for formal, flats/sneakers for casual\n- **Vintage/Retro outfits:** Period-appropriate footwear\n- **All-white outfits:** White or nude footwear preferred\n\n**Quick Reference - If outfit includes:**\n- Dress → Heels, sandals, or flats (based on dress style)\n- Jeans → Sneakers, boots, or loafers (based on top)\n- Shorts → Sandals, sneakers, or espadrilles\n- Athletic wear → Athletic shoes only\n- Formal pieces → Dress shoes or heels only\n\n**Footwear Color Guidelines:**\n- Nude/tan shoes = universally flattering\n- Match shoe color to outfit's dominant neutral\n- White shoes for casual/summer outfits\n- Black shoes for formal/evening wear\n- Metallic shoes for special occasions\n\n**Seasonal Considerations:**\n- Summer outfits = open-toe shoes, sandals, light colors\n- No heavy boots with summer clothing\n- No sandals with winter clothing\n- Match footwear weight to outfit seasonality\n\n### Composition Requirements\n- **Subject Position:** Off-center (rule of thirds)\n- **Action:** Natural interaction with environment (walking, leaning, sitting)\n- **Background:** Detailed, empty of people, theme-appropriate\n- **Style:** Documentary, candid, unposed\n- **Footwear:** MUST complement the outfit style (see Footwear Selection Rules)\n\n### Theme-Specific Elements\n**Note: Footwear must match the outfit style FIRST, then consider theme suggestions below**\n\n**NEVER force inappropriate footwear to match a theme. Examples:**\n- Don't put hiking boots with a dress just because it's \"Outdoor Adventure\"\n- Don't use athletic shoes with formal wear even for \"Active Lifestyle\"\n- Don't force heels with casual shorts even for \"Sophisticated Escape\"\n\n**The theme influences WHERE the photo is taken, NOT what shoes are worn.**\n\n**Summer Vacation**\n- Backgrounds: Beach, pool, yacht deck, beach house\n- Actions: Beach walking, poolside lounging\n- Footwear suggestions: Sandals, barefoot, flip-flops (if outfit appropriate)\n- Lighting: Golden hour, bright sunlight\n\n**Sophisticated Escape**\n- Backgrounds: Villa gardens, marble stairs, infinity pools\n- Actions: Garden strolling, stair descending\n- Footwear suggestions: Heels, ballet flats, loafers (match outfit formality)\n- Lighting: Soft natural light, architectural shadows\n\n**Outdoor Adventure**\n- Backgrounds: Mountains, fields, desert roads\n- Actions: Trail walking, rock climbing\n- Footwear suggestions: Hiking boots, trail shoes (if outfit is casual/rugged)\n- Lighting: Natural daylight, dramatic skies\n\n**Resort Life**\n- Backgrounds: Resort terraces, tropical settings\n- Actions: Resort exploring, relaxed activities\n- Footwear suggestions: Resort sandals, espadrilles (match vacation outfit)\n- Lighting: Vacation ambiance\n\n**Active Lifestyle**\n- Backgrounds: Golf courses, tennis courts\n- Actions: Sports movements, equipment interaction\n- Footwear suggestions: Athletic shoes, sports sneakers (for athletic outfits)\n- Lighting: Outdoor sports lighting\n\n**Vintage Vibes**\n- Backgrounds: Classic cars, vintage bikes\n- Actions: Vehicle interaction, nostalgic poses\n- Footwear suggestions: Period-appropriate shoes matching outfit era\n- Lighting: Film aesthetics\n\n## Example Analysis Process\n\n**Example 1:**\n**Input:** White shirt + blue jeans + gold jewelry\n**Analysis:** \n- Outfit style: Polished casual (tucked shirt + jeans = smart casual)\n- Footwear selection: Ballet flats or loafers (matches smart casual outfit)\n- Theme: Sophisticated Escape (polished styling + minimal accessories)\n\n**Output:** \"Full shot of confident young early 20s woman wearing crisp white cotton button-up shirt tucked into high-waisted medium wash blue denim jeans with delicate gold chain necklace and small gold hoop earrings and nude leather ballet flats, gracefully descending curved marble staircase while holding onto ornate iron railing, positioned right side of frame, luxurious Mediterranean villa courtyard with potted olive trees, stone fountain, and climbing jasmine vines on whitewashed walls, soft morning light filtering through pergola overhead creating gentle shadows, candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n**Example 2:**\n**Input:** Floral midi dress + straw hat\n**Analysis:**\n- Outfit style: Feminine dress requiring elegant footwear\n- Footwear selection: Heeled sandals or wedges (complements midi dress)\n- Theme: Summer Vacation (floral pattern + straw hat = beach ready)\n\n**Output:** \"Full shot of radiant young early 20s woman wearing flowing floral print midi dress with sweetheart neckline and short puffed sleeves in coral and white pattern with wide-brimmed straw hat and tan leather heeled sandals, walking along wooden boardwalk while dress catches ocean breeze, positioned left side of frame, pristine beach with turquoise waves and white sand dunes dotted with sea grass in background, golden hour sunlight creating warm glow and long shadows, candid lifestyle mood, shot on film camera, off-center composition, documentary style\"\n\n## Important Notes\n- Always write as one flowing paragraph\n- Never use bullet points in the output\n- Always include all extracted clothing details\n- Never mention the theme name in the output\n- Focus on environmental storytelling\n- Maintain documentary photography style\n- **CRITICAL: Always select footwear that complements the outfit style first, regardless of theme**\n- **REMEMBER: Bad footwear choice ruins the entire image - when in doubt, choose classic options that match the outfit formality**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3800,
        560
      ],
      "id": "6912bb3e-7471-4b99-bbce-1020de31d136",
      "name": "Prompt Generator2",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3620,
        -200
      ],
      "id": "edc89dd5-7642-4012-b64b-c3e21ccbb425",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3640,
        220
      ],
      "id": "5587e8f3-d3be-421c-994b-70038d4b343f",
      "name": "Limit2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3640,
        560
      ],
      "id": "1f61843b-dbf1-4804-bdaa-f1ec0d8f8ed6",
      "name": "Limit3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"prompt\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4280,
        360
      ],
      "id": "6bb1be3f-1715-44de-aec3-56d9c23d0079",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4120,
        380
      ],
      "id": "59bfcc3b-673d-4928-982b-caa7248e4361",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "UpLQ2CLSMB2oJQnX",
          "name": "Sri"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4560,
        240
      ],
      "id": "76b30175-2cd4-4d4e-8d4c-30c78650f180",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4a4f7fd-4561-454c-93ac-f18bbe08f5df",
              "name": "Gen-col",
              "value": "={{ $json['Gen-col'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4820,
        1080
      ],
      "id": "ad4a6377-1338-4f3a-97b1-51a4e4c87f4e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output.prompt"
            },
            {
              "fieldToAggregate": "Gen-col"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5260,
        1060
      ],
      "id": "8aee36a6-e7c0-46ea-871b-1ad302cb0ecb",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Gets image from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from drive": {
      "main": [
        [
          {
            "node": "Outfit extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompt Generator1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompt Generator2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets image from sheet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds Prompt to sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download from drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Generator": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Gets image from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Prompt Generator1",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Prompt Generator2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Footwear",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Outfit extraction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Outfit extraction",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outfit extraction": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Footwear": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Footwear",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Footwear",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Prompt Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Prompt Generator2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Generator1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prompt Generator2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Adds Prompt to sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92fd1b14-86b6-40b3-b918-846206dd5546",
  "meta": {
    "instanceId": "ca033a4d92476214a7b66cfdbe053fca39109d5560a0b66321aa8a888d37e02d"
  },
  "id": "ZKBT8QmJmWsvVofb",
  "tags": []
}